/* Add logo before site title */
.site-title a::before {
  content: "";
  display: inline-block;
  background-image: url('/assets/Map_Lab1.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Style the site title so the logo aligns nicely */
.site-title {
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

