/* Add custom logo to GitHub Pages Minimal theme header */
/* Add logo before site title */
.site-title::before {
  content: "";
  display: inline-block;
  background-image: url('/GUS5062/assets/Map_Lab1.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}


.site-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.6rem;
  font-weight: 600;
}

